
    
    
<div class="container1 text-center">
    <div class="row">
        <div class="col">
            <img src="" alt="">
        </div>
        <div class="col-6">
            <div class="container">
                <form name="form1" class="box" method="post">
                    <div>
                        <h4 id="lgn">Login</h4>
                        <h5> Sign in to your account.</h5>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" />
                        <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off" />
                        <a class="register" routerLink="/register">Register</a>
                    </div>

                    
                    <button type="submit" value="Sign in" class="btn1">Login</button>
                </form>
            </div>
        </div>
    
    </div>
</div>