
<div class="container1">
    <div class="row">
        <div class="col-7 svg">
            
            <object class="svg" data="../../assets/Plain credit card.gif" width="700" height="600"></object>

        </div>
        <div class="col-5">
            <div class="container">
                <form class="form" method="post">
            
                    <div class="card-info">
                        <h2>Rental Payment</h2>
                        <div class="input_container">
                            <label class="input_label">Card holder name</label>
                            <input class="input_field" type="text" placeholder="Enter your full name">
                        </div>
                        <div class="input_container">
                            <label class="input_label">Card Number</label>
                            <input class="input_field" type="number" placeholder="0000 0000 0000 0000">
                        </div>
                        <div class="input_container">
                            <label class="input_label">Expiry Date / CVV</label>
                            <div class="split">
                                <input class="input_field" style="width: 200px;" type="text" placeholder="01/23">
                                <input class="input_field cvv" style="width: 110px;" type="number" placeholder="CVV">
                            </div>
                        </div>
                    </div>
                    <button class="checkout" type="submit" style="cursor: pointer;">
                        <span>Pay</span>
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</div>

